
.checkout {
  max-width: 800px;
}
.checkout, .checkout__form, .checkout__footer {
  gap: var(--space-4);
}

.checkout__empty {
  align-items: center;
  justify-content: center;
  gap: var(--space-5);

  min-height: 300px;
  text-align: center;
}